{% extends 'base.html' %}

{% block title %}Редактирование записи{% endblock %}

{% block content %}
<h1>Редактирование записи</h1>
<form method="post" class="form-control">
    <label for="customer_name">Имя покупателя</label>
    <input type="text" id="customer_name" name="customer_name" value="{{ record.customer_name }}" class="form-control"> <br>
    
    <label for="purchase_amount">Сумма покупки</label>
    <input type="number" id="purchase_amount" name="purchase_amount" value="{{ record.purchase_amount }}" class="form-control"> <br>
    
    <label for="purchase_date">Дата покупки</label>
    <input type="date" id="purchase_date" name="purchase_date" value="{{ record.purchase_date.strftime('%Y-%m-%d') }}" class="form-control"> <br>

    <button class="btn btn-success" type="submit">Сохранить</button>
</form>
{% endblock %}
